<div>
    <%= link_to 'List All Articles', articles_path %>
</div>

<h2 align="center">
  <%= @article.title %>
</h2>

<div class="well col-sm-8 col-sm-offset-2 well-lg">
  <%= @article.description %>
  <div>
    <%= link_to 'Edit Article', edit_article_path(@article) , class: "btn btn-primary btn-xs" %>
    <%= link_to 'Delete Article', article_path(@article), method: :delete , data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" %>
  </div>
</div>
